
{% if flag %}
<a href="{% url 'cart'%}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
View in cart
</a>
{% else %}
<a href="" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    hx-get="{% url 'add_to_cart' product.id %}" hx-target="#menu-cart-button" hx-swap="outerHTML">
    Add to cart
</a>
{% endif %}